In [1]:
import numpy as np
import pandas as pd
import requests
import json
import plotly.figure_factory as ff
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt

## Import elastic V0 data

In [2]:
df_test = pd.read_csv("./data/results_matomo_v0.csv")

In [3]:
df_test = df_test.drop(columns=['url', 'Status', 'Commentaire'], axis=1)

In [4]:
df_test.head(3)

,terms,siren,results_elastic,pages_elastic,siren_elastic,resp_time_elastic,results_postgres,pages_postgres,siren_postgres,resp_time_postgres,results_postges,pages_postges,rank_elastic,rank_postgres
0,stellantis,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.063221,1,1,['879786085'],0.042676,1,1,0,0
1,STELLANTIS,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.146982,1,1,['879786085'],0.065058,1,1,0,0
2,Stellantis,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.084343,1,1,['879786085'],0.042565,1,1,0,0

In [5]:
df_test_2 = pd.read_csv("./data/results_nginx_v0.csv")

In [6]:
df_test_2 = df_test_2.drop(columns=['url_post', 'url_elastic', 'Google', 'Pappers', 'siret', 'degree of condifence'\
                                    ], axis=1)

In [7]:
df_test_2.head(3)

,terms,siren,results_elastic,pages_elastic,siren_elastic,resp_time_elastic,results_postgres,pages_postgres,siren_postgres,resp_time_postgres,results_postges,pages_postges,rank_elastic,rank_postgres
0,club mediterranee,572185684,90,5,"['379834906', '782615843', '482003191', '84191...",0.217592,84,5,"['782615843', '394049233', '514659853', '48200...",0.095049,84,5,-1,-1
1,emmaus communaute,304233505,111,6,"['538548157', '304233505', '311686497', '34015...",0.130710,45,3,"['342642071', '399498690', '340155571', '78590...",0.051059,45,3,1,12
2,emmaus communaute,782901599,111,6,"['538548157', '304233505', '311686497', '34015...",0.141893,45,3,"['342642071', '399498690', '340155571', '78590...",0.063611,45,3,14,17

In [8]:
df_test_2.columns

Index(['terms', 'siren', 'results_elastic', 'pages_elastic', 'siren_elastic',
       'resp_time_elastic', 'results_postgres', 'pages_postgres',
       'siren_postgres', 'resp_time_postgres', 'results_postges',
       'pages_postges', 'rank_elastic', 'rank_postgres'],
      dtype='object')

In [9]:
df_test.columns

Index(['terms', 'siren', 'results_elastic', 'pages_elastic', 'siren_elastic',
       'resp_time_elastic', 'results_postgres', 'pages_postgres',
       'siren_postgres', 'resp_time_postgres', 'results_postges',
       'pages_postges', 'rank_elastic', 'rank_postgres'],
      dtype='object')

In [10]:
df_test.shape

(739, 14)

In [11]:
df_test_2.shape

(189, 14)

In [12]:
df_test = pd.concat([df_test, df_test_2])

In [13]:
df_test.shape

(928, 14)

In [14]:
df_test.dtypes

terms                  object
siren                  object
results_elastic         int64
pages_elastic           int64
siren_elastic          object
resp_time_elastic     float64
results_postgres        int64
pages_postgres          int64
siren_postgres         object
resp_time_postgres    float64
results_postges         int64
pages_postges           int64
rank_elastic            int64
rank_postgres           int64
dtype: object

In [15]:
df_test.head(3)

,terms,siren,results_elastic,pages_elastic,siren_elastic,resp_time_elastic,results_postgres,pages_postgres,siren_postgres,resp_time_postgres,results_postges,pages_postges,rank_elastic,rank_postgres
0,stellantis,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.063221,1,1,['879786085'],0.042676,1,1,0,0
1,STELLANTIS,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.146982,1,1,['879786085'],0.065058,1,1,0,0
2,Stellantis,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.084343,1,1,['879786085'],0.042565,1,1,0,0

In [16]:
df_test.shape

(928, 14)

## Add results V1 (avec enseignes et adresses enseignes)

In [17]:
def find(key, dictionary):
    for k, v in dictionary.items():
        if k == key:
            yield v
        elif isinstance(v, dict):
            for result in find(key, v):
                yield result
        elif isinstance(v, list):
            for d in v:
                for result in find(key, d):
                    yield result

In [18]:
def get_response(url, q):
    params['q'] = q
    response = requests.get(url, params=params) 
    time_elapsed = response.elapsed.total_seconds()
    content = json.loads(response.content)
    total_results = content[0]['total_results']
    total_pages = content[0]['total_pages']
    siren_list = list(find('siren', content[0]))
    return total_results, total_pages, siren_list, time_elapsed

In [19]:
url_elastic = "http://api.sirene.dataeng.etalab.studio/search"

In [20]:
params = {'q':'',
         'page' : '1',
         'per_page' : '20'}

In [21]:
df_test['results_elastic_1'], df_test['pages_elastic_1'], df_test['siren_elastic_1'],\
df_test['resp_time_elastic_1']\
= "", "", "", ""

In [22]:
df_test

,terms,siren,results_elastic,pages_elastic,siren_elastic,resp_time_elastic,results_postgres,pages_postgres,siren_postgres,resp_time_postgres,results_postges,pages_postges,rank_elastic,rank_postgres,results_elastic_1,pages_elastic_1,siren_elastic_1,resp_time_elastic_1
0,stellantis,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.063221,1,1,['879786085'],0.042676,1,1,0,0,,,,
1,STELLANTIS,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.146982,1,1,['879786085'],0.065058,1,1,0,0,,,,
2,Stellantis,879786085,1353,68,"['879786085', '803902485', '879147148', '34219...",0.084343,1,1,['879786085'],0.042565,1,1,0,0,,,,
3,air france,420495178,706,36,"['420495178', '314119504', '378006027', '77568...",0.271584,788,40,"['883454803', '824718910', '401867015', '84159...",0.255068,788,40,0,6,,,,
4,Air france,420495178,706,36,"['420495178', '314119504', '378006027', '77568...",0.067208,788,40,"['883454803', '824718910', '401867015', '84159...",0.104733,788,40,0,6,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,pontecaille gregoire,818452476,1,1,['818452476'],0.141171,1,1,['818452476'],0.039299,1,1,0,0,,,,
185,sherpa,393825229,2870,144,"['393825229', '801698242', '500913785', '33407...",0.103189,330,17,"['344857321', '484513593', '398939744', '33813...",0.071680,330,17,0,15,,,,
186,sherpa,500913785,2870,144,"['393825229', '801698242', '500913785', '33407...",0.137308,330,17,"['344857321', '484513593', '398939744', '33813...",0.070307,330,17,2,-1,,,,
187,mc animation,820552925,3,1,"['820552925', '440736965', '398015974']",0.047684,4,1,"['820552925', '440736965', '398015974', '50865...",0.047149,4,1,0,0,,,,
188,mc animation,440736965,3,1,"['820552925', '440736965', '398015974']",0.042499,4,1,"['820552925', '440736965', '398015974', '50865...",0.034800,4,1,1,1,,,,

In [24]:
for index, row in df_test.iterrows():
    print(get_response(url_elastic, row['terms']))

(1353, 68, ['879786085', '803902485', '379118748', '752313940', '500019898', '879147148', '808518013', '342199841', '510173164', '348622044', '840125876', '441308194', '387493638', '800604696', '820525905', '315523308', '498029859', '824000327', '821469491', '818133845'], 0.273817)
(1353, 68, ['879786085', '803902485', '379118748', '752313940', '500019898', '879147148', '808518013', '342199841', '510173164', '348622044', '840125876', '441308194', '387493638', '800604696', '820525905', '315523308', '498029859', '824000327', '821469491', '818133845'], 0.083464)
(1353, 68, ['879786085', '803902485', '379118748', '752313940', '500019898', '879147148', '808518013', '342199841', '510173164', '348622044', '840125876', '441308194', '387493638', '800604696', '820525905', '315523308', '498029859', '824000327', '821469491', '818133845'], 0.08166)
(1129, 57, ['420495178', '632041042', '314119504', '378006027', '775685183', '379369465', '813041381', '813029949', '782741631', '785742685', '552043002', '848127163', '811075225', '417518339', '449920297', '318506623', '784621161', '853437119', '400236576', '310579362'], 0.092182)
(1129, 57, ['420495178', '632041042', '314119504', '378006027', '775685183', '379369465', '813041381', '813029949', '782741631', '785742685', '552043002', '848127163', '811075225', '417518339', '449920297', '318506623', '784621161', '853437119', '400236576', '310579362'], 0.09933)
(1129, 57, ['420495178', '632041042', '314119504', '378006027', '775685183', '379369465', '813041381', '813029949', '782741631', '785742685', '552043002', '848127163', '811075225', '417518339', '449920297', '318506623', '784621161', '853437119', '400236576', '310579362'], 0.10214)
(1129, 57, ['420495178', '632041042', '314119504', '378006027', '775685183', '379369465', '813041381', '813029949', '782741631', '785742685', '552043002', '848127163', '811075225', '417518339', '449920297', '318506623', '784621161', '853437119', '400236576', '310579362'], 0.10174)
(1129, 57, ['420495178', '632041042', '314119504', '378006027', '775685183', '379369465', '813041381', '813029949', '782741631', '785742685', '552043002', '848127163', '811075225', '417518339', '449920297', '318506623', '784621161', '853437119', '400236576', '310579362'], 0.1253)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.05377)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.057532)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.054029)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.053583)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.060304)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.058899)
(8, 1, ['420916918', '775581184', '775746282', '840579866', '580803153', '390688422', '439695891', '809427800'], 0.055036)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.323131)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.197236)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.155146)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.164473)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.185619)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.149048)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.161245)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.192221)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.159786)
(151, 8, ['199212044', '217500016', '662042449', '180089013', '552081317', '542095336', '775684970', '552120222', '954509741', '379745854', '889447728', '351700778', '413901760', '338253230', '849821962', '662025196', '345130488', '403093206', '356000000', '380129866'], 0.197905)
(37, 2, ['352383715', '775557226', '785514969', '843720913', '750891020', '380295519', '348116658', '335338240', '810950147', '795361534', '338240930', '339443830', '382633592', '334555687', '333747475', '448041046', '440453678', '343210324', '332757723', '332757731'], 0.121671)
(37, 2, ['352383715', '775557226', '785514969', '843720913', '750891020', '380295519', '348116658', '335338240', '810950147', '795361534', '338240930', '339443830', '382633592', '334555687', '333747475', '448041046', '440453678', '343210324', '332757723', '332757731'], 0.089894)
(37, 2, ['352383715', '775557226', '785514969', '843720913', '750891020', '380295519', '348116658', '335338240', '810950147', '795361534', '338240930', '339443830', '382633592', '334555687', '333747475', '448041046', '440453678', '343210324', '332757723', '332757731'], 0.093147)
(37, 2, ['352383715', '775557226', '785514969', '843720913', '750891020', '380295519', '348116658', '335338240', '810950147', '795361534', '338240930', '339443830', '382633592', '334555687', '333747475', '448041046', '440453678', '343210324', '332757723', '332757731'], 0.103305)
(37, 2, ['352383715', '775557226', '785514969', '843720913', '750891020', '380295519', '348116658', '335338240', '810950147', '795361534', '338240930', '339443830', '382633592', '334555687', '333747475', '448041046', '440453678', '343210324', '332757723', '332757731'], 0.08454)
(37, 2, ['352383715', '775557226', '785514969', '843720913', '750891020', '380295519', '348116658', '335338240', '810950147', '795361534', '338240930', '339443830', '382633592', '334555687', '333747475', '448041046', '440453678', '343210324', '332757723', '332757731'], 0.077888)
(10000, 501, ['380129866', '218400877', '345039416', '525329389', '512664194', '268400264', '303644876', '483609095', '248400236', '848569968', '879751519', '403051469', '493431951', '882191414', '440981645', '484443445', '807894746', '414555136', '353349665', '443430996'], 0.274939)
(10000, 501, ['380129866', '218400877', '345039416', '525329389', '512664194', '268400264', '303644876', '483609095', '248400236', '848569968', '879751519', '403051469', '493431951', '882191414', '440981645', '484443445', '807894746', '414555136', '353349665', '443430996'], 0.155481)
(83, 5, ['341737062', '410241657', '438912149', '788667913', '794697706', '813401148', '824441240', '392383683', '823893706', '521919514', '429009699', '477762686', '433857190', '421008822', '503189441', '504916966', '439908864', '494943582', '533263109', '841645419'], 0.103291)

(83, 5, ['341737062', '410241657', '438912149', '788667913', '794697706', '813401148', '824441240', '392383683', '823893706', '521919514', '429009699', '477762686', '433857190', '421008822', '503189441', '504916966', '439908864', '494943582', '533263109', '841645419'], 0.088902)
(83, 5, ['341737062', '410241657', '438912149', '788667913', '794697706', '813401148', '824441240', '392383683', '823893706', '521919514', '429009699', '477762686', '433857190', '421008822', '503189441', '504916966', '439908864', '494943582', '533263109', '841645419'], 0.117075)
(83, 5, ['341737062', '410241657', '438912149', '788667913', '794697706', '813401148', '824441240', '392383683', '823893706', '521919514', '429009699', '477762686', '433857190', '421008822', '503189441', '504916966', '439908864', '494943582', '533263109', '841645419'], 0.085366)
(83, 5, ['341737062', '410241657', '438912149', '788667913', '794697706', '813401148', '824441240', '392383683', '823893706', '521919514', '429009699', '477762686', '433857190', '421008822', '503189441', '504916966', '439908864', '494943582', '533263109', '841645419'], 0.082685)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.083161)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.091114)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.083014)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.097253)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.108264)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.083951)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.085979)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.091637)
(10, 1, ['414815217', '775682131', '785308354', '785196148', '782735336', '453900490', '785369901', '781513205', '391301215', '310358460'], 0.089982)
(1233, 62, ['351745724', '351705298', '305302812', '382332864', '821593407', '892170648', '323814707', '893178210', '315884023', '403604218', '441047834', '800285330', '488923681', '304200371', '440805232', '493017362', '493147045', '498043652', '498056787', '402104582'], 0.053607)
(1233, 62, ['351745724', '351705298', '305302812', '382332864', '821593407', '892170648', '323814707', '893178210', '315884023', '403604218', '441047834', '800285330', '488923681', '304200371', '440805232', '493017362', '493147045', '498043652', '498056787', '402104582'], 0.055758)
(1233, 62, ['351745724', '351705298', '305302812', '382332864', '821593407', '892170648', '323814707', '893178210', '315884023', '403604218', '441047834', '800285330', '488923681', '304200371', '440805232', '493017362', '493147045', '498043652', '498056787', '402104582'], 0.103283)

KeyboardInterrupt:

In [ ]:
df_test['results_elastic_1'] = df_test['results_elastic_1'].astype('int32')
df_test['pages_elastic_1'] = df_test['pages_elastic_1'].astype('int32')
df_test['resp_time_elastic_1'] = df_test['resp_time_elastic_1'].astype('float64')

In [ ]:
df_test.describe()

## Ranks

In [ ]:
df_test['rank_elastic_1'] =""

In [ ]:
for ind, row in df_test.iterrows():
    if str(row['siren']) in row['siren_elastic_1']:
        df_test['rank_elastic_1'][ind] = row['siren_elastic_1'].index(str(row['siren']))
    else:
        df_test['rank_elastic_1'][ind] = -1

In [ ]:
df_test['rank_elastic_1'] = df_test['rank_elastic_1'].astype('float64')

## KPIs

In [ ]:
fig = px.histogram(df_test.sort_values(by=['rank_elastic_1']),\
                    x="rank_elastic_1",color_discrete_sequence=['indianred'],\
                    title="Distribution elastic des rangs du bon résultat")
fig.update_layout(bargap=0.5)
fig.update_xaxes(type='category')
fig.show()

In [ ]:
x_elastic = df_test.sort_values(by=['rank_elastic'])['rank_elastic']
x_postgres = df_test.sort_values(by=['rank_postgres'])['rank_postgres']
x_elastic_1 = df_test.sort_values(by=['rank_elastic_1'])['rank_elastic_1']
fig = go.Figure()
fig.add_trace(go.Histogram(histfunc="count",
                          x=x_elastic_1,
                          name="Elasticsearch_1",
                          marker_color='#eb0e3e',))
fig.add_trace(go.Histogram(histfunc="count",
                         x=x_elastic,
                         marker_color='#EB89B5',
                         name="Elasticsearch"))
fig.add_trace(go.Histogram(histfunc="count",
                          x=x_postgres,
                          name="Postgres",
                          marker_color='#330C73',))

fig.update_layout(
    title_text='Fréquence des rangs des résultats de la recherche', # title of plot
    xaxis_title_text='Rang du résulat dans la page', # xaxis label
    yaxis_title_text='Nombre de requêtes', # yaxis label
    bargap=0.2, # gap between bars of adjacent location coordinates
    bargroupgap=0.1 # gap between bars of the same location coordinates
)
fig.update_xaxes(type='category')
fig.show()